:root {
  --antiquewhite: #D46A6A;
}

body {
  text-align: center;
  font-family: "Trebuchet MS";
  box-sizing: border-box;
}

input, button {
  font-family: "Verdana";
}

div[class*="fact"] {
  width: 75%;
  margin: auto;
}

.tooltip {
  visibility: hidden;
  position: relative;
  top: -30px;
  left: 63%;
  width: 35%;
  background-color: var(--antiquewhite);
  border-radius: 5px;
  font-size: .75rem;
  padding: 5px;
}

.tooltip-arrow {
  position: absolute;
  top: 12px;
  left: -15px;
  border-style: solid;
  border-width: 8px;
  border-color: transparent var(--antiquewhite) transparent transparent;
}

.toggle-tooltip {
  visibility: visible;
}